<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <p>View all the cs courses</p>
            <p>    
                <a class="btn btn-primary btn-large" href="/courses/new">Add new course</a>
            </p>
        </div>
    </header>
    
     <table data-toggle="table" id = "maintable" class="table table-striped">
        <thead>
            <tr>
                <th>CourseID</th>
                <th>Course Name</th>
                <th>GPA</th>
                <th>Rating</th>
                <th>Work Load</th>
                <th>Difficulty</th>
                <th>A%</th>
                <th>B%</th>
                <th>C%</th>
                <th>D%</th>
                <th>F%</th>
                <th>W%</th>
            </tr>
        </thead>
        <script>
            $(document).ready(function () {
            $('#maintable').DataTable(
                    {
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
                    }
                );
            // $('#maintbale').DataTable({
            // "ordering": false // false to disable sorting (or any other option)
            // });
            //$('.dataTables_length').addClass('bs-select');
            
            
            });
        </script>
        <tbody>
            <%courses.forEach(function(course) {%>
                <tr>
                    <td><a href="/courses/<%= course._id %>"><%= course.id%></a></td>
                    <td><%=course.name%></td>
                    <td><%=course.gpa%></td>
                    <!--<td><% if (course.comments.length == 0) {%> N/A <%} else {%> <%=course.rating%> <%}%></td>-->
                    <!--<td><% if (course.comments.length == 0) {%> N/A <%} else {%> <%=course.workload%> <%}%></td>-->
                    <!--<td><% if (course.comments.length == 0) {%> N/A <%} else {%> <%=course.difficulty%> <%}%></td>-->
                    <td><%=course.rating%></td>
                    <td><%=course.workload%></td>
                    <td><%=course.difficulty%></td>
                    <td><%=course.a%></td>
                    <td><%=course.b%></td>
                    <td><%=course.c%></td>
                    <td><%=course.d%></td>
                    <td><%=course.f%></td>
                    <td><%=course.w%></td>
                </tr>
            <% })%>
        </tbody>
        </table>
</div>
<%include ../partials/footer %>